{% extends 'base.html.twig' %}
{% block title %} Product Data {% endblock %}

{% block body %}
<h1>Product Data</h1>
<div class="col-md-12">
	<a href="/new/add" class="btn btn-primary float-right" align="right">Add New Product</a>
</div><br><br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Product Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		   <tr>
		   	 <td>{{ product.name }}</td>
		   	 <td>{{ product.price }}</td>
		   	 <td>{{ product.description }}</td>
		   	 <td>
		   	 	<a href="/new/getdata/{{ product.id }}" class="btn btn-primary">Show</a>
		   	 	<a href="/new/updatedata/{{ product.id }}" class="btn btn-success">Update</a>
		   	 	<a href="/new/delete/{{ product.id }}" class="btn btn-danger">Delete</a>
		   	 </td>
		   </tr>
		{% endfor %}   
	</tbody>
</table>
{% endblock %}